@{
    ViewData["Title"] = "Home Page";
}



@model ShitoRyuSatokia.Models.AdminViewModel




    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="logo">
                            <img src="~/drawables/redlogo.png" style="width: 4em; height: 4.6em; margin-top: 5px;" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">Features</a></li>
                            <li class="scroll-to-section"><a href="#about">About Us</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            <li class="scroll-to-section"><div class="main-white-button"><a href="#contact" style="color: #ff0000">Request join</a></div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>












<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="C-Head col-12 center">
                <h1> Shitoryu Satokai <br /> <span>SOUTH AFRICA</span> <br /> Satoha Shito ryu International Federation </h1>

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <img src="~/images/senseiMap.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="row">

                                <h3>
                                    Sydney Hoaeane
                                </h3>
                                <h4>
                                    Chief Instructor
                                </h4>

                                <p>
                                    Satoha Shitoryu Satokai South Africa was founded and established in the year 2013 by Sydney Hoaeane 6th Dan, which now enjoys popularity and growth in South Africa and Africa.
                                </p>
                                <p>
                                    Satoha Shitoryu Satokai South Africa its an official member of Satoha Shitoryu Satokai international federation. We also enjoy membership of sporting karate WKF, and all Shitoryu international federations.
                                </p>
                                <a asp-action="Intro" asp-controller="Home" asp-area="" class="btn btn-outline-success">Read More</a>


                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="back_decor wow flipInX" id="bigFive" data-wow-duration="2s" data-wow-delay="0.5s">
            <img src="~/images/bigFives.jpg"  />
        </div>
       
    </div>

    

</div>







<!--


    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="info-stat" style="color: #fff; background: #000; border-radius: 40px; padding: 0; ">
                                            <h2 style="text-align: center; margin: 0; padding: 0;">South Africa</h2>

                                        </div>
                                    </div>

                                    <div class="col-lg-12" style="color: #fff;">
                                        <h2> Shito ryu Sato kai</h2>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="main-red-button scroll-to-section">
                                            <a href="#contact">Request join</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="~/drawables/africaL.png" style="
                                 height: 100%; width: 100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



-->








    <div id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-content">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                    <div class="first-number number">
                                        <h6>ichi</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>Respect</h4>
                                    <div class="line-dec"></div>
                                    <p>Respect is our essential product. We begin with respect and end with respect!</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="second-number number">
                                        <h6>nee</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>Friendship</h4>
                                    <div class="line-dec"></div>
                                    <p>Communication is key. Our lessons help you communicate easily at first hand with anyone no matter the age or attitude</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="features-item third-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="third-number number">
                                        <h6>san</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>Gain Fitness</h4>
                                    <div class="line-dec"></div>
                                    <p>Training sessions are fun and open to all age groups. We offer Physical,mentally and spiritual fitness to suppress any circumstance at hand.</p>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="features-item fourth-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="fourth-number number">
                                        <h6>chi</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>compete International</h4>
                                    <div class="line-dec"></div>
                                    <p>skills within the organisation are given a test to present themselfs within the international space easily.</p>
                                </div>
                            </div>




                          






                        </div>
                    </div>
                </div>
                <!--
                <div class="col-lg-12">
                    <div class="skills-content">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                    <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                80%<br>
                                                <span>HTML/CSS/JS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="progress" data-percentage="60">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                60%<br>
                                                <span>Wordpress</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="progress" data-percentage="90">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                90%<br>
                                                <span>Marketing</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="progress" data-percentage="70">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                70%<br>
                                                <span>Photoshop</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                -->
            </div>
        </div>
    </div>

    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="~/drawables/karatekicks.gif" alt="">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>Shito Ryu <!-- <em>marketing</em> --> Sato kai Association in <span>South Africa</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="about-item">
                                <h4>6</h4>
                                <h6>Provices joined</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="about-item">
                                <h4>340+</h4>
                                <h6>happy Student</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="about-item">
                                <h4>1128+</h4>
                                <h6>National awards</h6>
                            </div>
                        </div>
                    </div>
                    <p>The <a rel="nofollow" href="https://shitoryu.net" target="_parent">Sato Ha</a> Organisation is thrilled to announce that <a rel="nofollow" href="#sato" target="_parent">Soke Sato </a> has been recognized as an international leader in the development and promotion of the journey of karate.</p>
                    <!--    <div class="main-green-button"><a href="#">Discover company</a></div>
                        -->
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="our-services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h6>Our Services</h6>
                        <h2>Discover What We Do &amp; <span>Offer</span> To Our <em>Students</em></h2>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-01.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Similar Websites</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-02.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Website Trends</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-03.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Traffic Analysis</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-03.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Optimizing Keywords</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-01.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Page Optimizations</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="assets/images/service-icon-02.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Deep URL Analysis</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <section class="testimonial section-padding">
            <div class="container" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="row">

                    <div class="col-lg-6 col-md-5 col-12" id="sato">
                        <div class="contact-image wow fadeInLeft" data-aos="fade-up" data-wow-duration="1s" data-wow-delay="1s">

                            <img src="~/drawables/sato.jpg" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Chief Instructor</h4>

                        <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                        <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Soke Sato is a special kudan (9th Dan) Certificate from two highly respected members of the advisory committee </h2>

                        <p data-aos="fade-up" data-aos-delay="400">
                            <strong>Soke Akira Sato</strong>

                            <span class="mx-1">/</span>

                            <small>9th dan</small>
                        </p>
                    </div>

                </div>
            </div>
        </section>
    </div>




    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.1s">
                    <h2 class="heading-section mb-5">Officials Team</h2>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        @foreach (var i in Model.DojoList)
                        {

                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="mb-4">Shihan the chief intructor of shito ryu sato kai South Africa</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(@i.Dojo_Instructor_Image)"></div>
                                            <div class="pl-3">
                                                <p class="name">@i.Dojo_Name</p>
                                                <span class="position">@i.Dojo_Instructor_Position</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>










    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4">News</h2>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">

                        @foreach (var i in Model.NewsList)
                        {
                            Html.BeginForm("SelectNews", "Home");
                            <div class="item">
                                <div class="blog-entry">
                                    <div class="block-20 d-flex align-items-start" style="background-image: url(@i.Cover_Image);">
                                        <div class="meta-date text-center p-2">
                                            <span class="day">26</span>
                                            <span class="mos">Nov.</span>
                                            <span class="yr">2019</span>
                                        </div>
                                    </div>
                                    <div style="display: none; visibility: hidden;">
                                        <input name="newsid" type="text" value="@i.Id" />
                                    </div>
                                    <div class="text border border-top-0 p-4">
                                        <h3 class="heading"><a href="#">@i.heading</a></h3>
                                        <p>@i.Description</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <p class="mb-0"><button type="submit"  class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></button></p>
                                            <p class="ml-auto meta2 mb-0">
                                                <a href="#" class="mr-2"></a>
                                                <a href="#" class="meta-chat"><span class="ion-ios-chatboxes"></span> 3</a>
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            Html.EndForm();
                        }



                    </div>
                </div>
            </div>
        </div>
    </section>







    <div id="portfolio" class="our-portfolio section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h6>Our Portofolio</h6>
                        <h2>Discover Our Recent <em>Events</em> And <span>Showcases</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
                <div class="col-lg-12">
                    <div class="loop owl-carousel">
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group5.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group2.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group3.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group4.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group5.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group3.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="~/images/group2.jpg" alt="">
                                    <div class="hover-content">
                                        <div class="inner-content">
                                            <a href="#portfolio"><h4>October 2021</h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <div id="contact" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading">
                                    <h6>Contact Us</h6>
                                    <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" name="email" id="email" placeholder="Your Email" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="contact-info">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <img src="assets/images/contact-icon-01.png" alt="email icon">
                                            </div>
                                            <a href="#">satokaisahq@gmail.com</a>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="assets/images/contact-icon-02.png" alt="phone">
                                            </div>
                                            <a href="#">+27842149489</a>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="assets/images/contact-icon-03.png" alt="location">
                                            </div>
                                            <a href="#">Soweto</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


