
@model ShitoRyuSatokia.Models.AdminViewModel

@{
    SecUserData userData = new SecUserData();

}



<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.1s">
                <h2 class="heading-section mb-5">Edit Officials Team</h2>
            </div>

            <div class="col-lg-12">
                <form asp-controller="Edit" asp-action="AddDojo">
                    <button type="submit" class="btn btn-success">Add</button>

                </form>
               
            </div>


            <div class="col-md-12">

                <div class="featured-carousel owl-carousel wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">

                    @foreach (var i in await userData.GetAllDojos())
                    {
                        Html.BeginForm("EditDojo", "Edit", FormMethod.Post);

                        <div style="display: none; visibility: hidden;">
                            <input id="DojoName" value="@i.Dojo_Name" name="DojoName" />
                        </div>

                        <div class="item" style="cursor: pointer;">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="mb-4">Shihan the chief intructor of shito ryu sato kai South Africa</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(@i.Dojo_Instructor_Image)"></div>
                                        <div class="pl-3">
                                            <p class="name">@i.Dojo_Name</p>
                                            <span class="position">@i.Dojo_Instructor_Position</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success" style="margin-top: 10px;">Edit</button>
                               
                            </div>
                        </div>

                        Html.EndForm();
                        
                    }



                </div>

            </div>



        </div>
    </div>
</section>








<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">News</h2>
            </div>
            <div class="col-lg-12">
                <form asp-controller="Edit" asp-action="AddNews">
                    <button type="submit" class="btn btn-success">Add</button>

                </form>
                <form asp-controller="Edit" asp-action="AddNews">
                    <button type="submit" class="btn btn-warning">Delete</button>

                </form>
            </div>
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">

                    @foreach (var i in Model.NewsList)
                    {
                        Html.BeginForm("EditNews", "Edit");
                        <div class="item">
                            <div class="blog-entry">
                                <div class="block-20 d-flex align-items-start" style="background-image: url(@i.Cover_Image);">
                                    <div class="meta-date text-center p-2">
                                        <span class="day">26</span>
                                        <span class="mos">Nov.</span>
                                        <span class="yr">2019</span>
                                    </div>
                                </div>
                                <div style="display: none; visibility: hidden;">
                                    <input name="Newsid" type="text" value="@i.Id" />
                                </div>
                                <div class="text border border-top-0 p-4">
                                    <h3 class="heading"><a href="#">@i.heading</a></h3>
                                    <p>@i.Description</p>
                                    <div class="d-flex align-items-center mt-4">
                                        <p class="mb-0"><button type="submit" class="btn btn-primary">Edit <span class="ion-ios-arrow-round-forward"></span></button></p>
                                        <p class="ml-auto meta2 mb-0">
                                            <a href="#" class="mr-2"></a>
                                            <a href="#" class="meta-chat"><span class="ion-ios-chatboxes"></span> 3</a>
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>

                        Html.EndForm();
                    }



                </div>
            </div>
        </div>
    </div>
</section>